body {
    font-size: large;
    background-color: white;
    font-family: 'Open Sans', Geneva, Verdana, sans-serif;
}


button {
    font-size: inherit;
    margin: 5px 5px;
    background-color: whitesmoke;
}

.card {
    padding: 5px 5px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-grow: 1;
}

h2 {
    text-align: center;
}

.cardWithButtons {
    height: 180px;
    width: 180px;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
}

.cardButtons {
    display: flex;
    align-self: center;
} 

.bottomButtons {
    display: flex;
}

.hand {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
    overflow: wrap;
}

.deckButton {
    font-weight: bold;
}

.AESTHETICS {
    color: DarkGoldenrod;
}
.CONNECTION {
    color: Green;
}
.COSTUME {
    color: Maroon;
}
.IDEALS {
    color: Red;
}
.MANNERS {
    color: rgb(146, 9, 146);
}
.POWER {
    color: rgb(2, 127, 129);
}
.WORLD {
    color: rgb(3, 3, 212);
}

textarea{ 
    font-family: inherit; 
    font-size: inherit; 
    left: -1000px;
    position: fixed;
}

.characterDisplay {
    margin-top: 0%;
}
