.card {
    padding: 5px 5px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-grow: 1;
}

h2 {
    text-align: center;
}

.cardWithButtons {
    height: 120px;
    width: 150px;
    border: 1px solid black;
    display: flex;
    align-self: center;
    flex-direction: column;
}

.cardButtons {
    display: flex;
    align-self: center;
} 

.bottomButtons {
    display: flex;
}

.hand {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}


.row {
    display: flex;
    flex-direction: row;
    overflow: wrap;
}

.deckButton {
    font-weight: bold;
    font-family: serif;
}

.AESTHETICS {
    color: DarkGoldenrod;
}
.CONNECTION {
    color: Green;
}
.COSTUME {
    color: Maroon;
}
.IDEALS {
    color: Red;
}
.MANNERS {
    color: rgb(146, 9, 146);
}
.POWER {
    color: rgb(2, 127, 129);
}
.WORLD {
    color: rgb(3, 3, 212);
}
  